<%- include('partials/head')%> 
<%- include('partials/navigation')%>
<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
        <h1 class="display-1"> About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus doloribus hic, consequatur facere dolore quam ratione in iste sit eius et tempore ipsam aliquam dicta fugiat molestiae veniam repellat! Aut expedita nam deleniti explicabo excepturi magnam porro eum amet laudantium necessitatibus rerum autem eos fugiat ex numquam, sed doloribus iste, minus tempore saepe nisi tempora sunt consectetur inventore. Unde dolores ab iusto possimus ipsa reiciendis quas sapiente nihil. Eveniet, illum quia. Accusantium tenetur rem nam cupiditate nobis, quasi labore, obcaecati iure possimus omnis hic quam tempore commodi quaerat optio quos quisquam porro rerum sapiente unde blanditiis consequatur alias qui excepturi. Rerum voluptatibus nostrum, aliquid quo id cumque? Deleniti nesciunt eos aut quaerat ea quae ut ad, quisquam molestiae illum inventore repellat aspernatur doloribus consequuntur non! Impedit quaerat excepturi sapiente placeat libero nihil odit officia amet pariatur voluptatibus natus rem ipsum aperiam temporibus vitae distinctio dignissimos porro ut possimus, ullam necessitatibus molestiae adipisci saepe at. Mollitia inventore perspiciatis voluptatibus dolorum sed asperiores dolore voluptatum illum, assumenda ipsum quisquam a deleniti veniam distinctio aperiam aut nihil quidem porro. Reprehenderit error ipsam, tempore autem commodi dolorem, sed sint cum enim, maiores dolorum! Magni ipsum nihil ullam provident suscipit aspernatur fugit aliquam quidem delectus?</p>
    </section>
</main>
<%- include('partials/footer')%>