<%- include('partials/head')%> <%- include('partials/navigation')%>
<main
  class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
>
  <div class="card bg-dark text-white text-center">
    <div class="card-header">
      <h3>Contactame</h3>
    </div>
    <div class="card-body text-start">
      <form action="">
        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" placeholder="Email" />
        </div>

        <div class="mb-3">
          <label for="message">Mensaje</label>
          <textarea name="message" rows="3" class="form-control" placeholder="Write"></textarea>
        </div>

        <button></button>
      </form>
    </div>
  </div>
</main>
<%- include('partials/footer')%>
